@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #06060f;
    color: white;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  * { scrollbar-width: thin; scrollbar-color: #2d1f50 #0d0d1a; }
  *::-webkit-scrollbar { width: 4px; height: 4px; }
  *::-webkit-scrollbar-track { background: #0d0d1a; }
  *::-webkit-scrollbar-thumb { background: #2d1f50; border-radius: 4px; }
}
